.footer {
  padding: 2rem 0;
  color: $black;

  &-main {
    border-top: 2px solid $black;
    padding-top: 2rem;
  }

  .menu {
    display: flex;

    li {
      margin-right: 1rem;
    }

    a {
      text-decoration: none;
    }
  }
}
