$primary-font: 'Source Sans 3', sans-serif;
$secondary-font:'Source Serif 4', serif;

$light: 300;
$regular: 400;
$bold: 500;

$font__main: $primary-font;
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
